extends index

block titlePage 
    title about page

prepend pageInfo
    .hello1 hello from about page also 1

block append pageInfo
    .hello2 hello from about page also 2

block pageContnet
    .about about us
    p paragraph